# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore Django migration files
*.log
*.sqlite3

# Ignore static and media files if not needed
static/
media/

# Ignore virtual environments (if used)
venv/
env/
.venv/

# Ignore other IDE-specific files
.vscode/
.idea/

# Ignore CSS files
*.css
static/
